/* Add application styles & imports to this file! */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

table, th, td {
  border: 1px solid;
  border-spacing: 1px;
  border-collapse: separate;
  text-align: center;
}

.missing {
  border:3px solid red
}